<h3>Geschlecht</h3>
<mat-form-field [formGroup]="form">
  <mat-label>Geschlecht auswählen</mat-label>
  <mat-select
    matNativeControl
    required
    formControlName="geschlechtType"
    required
    [class.is-invalid]="geschlechtType.invalid && geschlechtType.touched"
    [class.is-valid]="geschlechtType.valid && geschlechtType.touched"
    name="geschlecht"
  >
    <mat-option value="MAENNLICH">Männlich</mat-option>
    <mat-option value="WEIBLICH">Weiblich</mat-option>
    <mat-option value="DIVERS">Divers</mat-option>
  </mat-select>
</mat-form-field>
