<div class="navWrapper">
  <div
    class="listItem"
    routerLink="/kunden/suche"
    routerLinkActive="active"
    aria-label="Suche Kunden"
  >
    <i class="material-icons">search</i>
    <span class="ms-1">Suche</span>
  </div>

  <div *ngIf="isAdmin">
    <div
      class="listItem"
      routerLink="/kunden/create"
      aria-label="Neuen Kunden anlegen"
    >
      <i class="material-icons">add</i>
      <span>Neuer Kunde</span>
    </div>
  </div>

  <!--div class="nav-item dropdown" *ngIf="isAdmin">
    <div
      class="listItem"
      id="navbarDropdownMenuLink"
      data-bs-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i class="material-icons">bar_chart</i>
      <span class="ms-1">Diagramme</span>
    </div>
    < <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <div
        routerLink="/kunden/balkendiagramm"
        class="dropdown-item"
        aria-label="Balkendiagramm fuer Bewertungen"
      >
        <i class="material-icons">bar_chart</i>
        <span class="ms-1">Balkendiagramm</span>
      </div>
      <div
        routerLink="/kunden/liniendiagramm"
        class="dropdown-item"
        aria-label="Liniendiagramm fuer Bewertungen"
      >
        <i class="material-icons">multiline_chart</i>
        <span class="ms-1">Liniendiagramm</span>
      </div>
      <div
        routerLink="/kunden/tortendiagramm"
        class="dropdown-item"
        aria-label="Tortendiagramm fuer Bewertungen"
      >
        <i class="material-icons">pie_chart</i>
        <span class="ms-1">Tortendiagramm</span>
      </div>
    </div>
  </div-->
</div>

<hs-login-logout></hs-login-logout>
