table {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-spacing: 0;
  width: 100%;
}
tr {
  height: 56px;
}

td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 25px;
  text-align: center;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}
.search {
  color: #03a9f4;
}

.delete {
  color: black;
  cursor: pointer;
}

th {
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 25px;
  text-align: center;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

.cardHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 25px;

  i {
    margin-right: 15px;
  }
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  i {
    margin-right: 10px;
  }
}
