<mat-toolbar color="accent">Neues Buch anlegen</mat-toolbar>

<div class="contentWrapper">
  <form [formGroup]="form" role="form">
    <div class="row warnRow" *ngIf="showWarning">
      <span class="warn warnRow">
        <i class="material-icons">warning</i>
        <strong>
          Wenn Sie die Seite jetzt verlassen, verlieren Sie Ihre eingegebenen
          Daten.
        </strong>
      </span>
    </div>

    <hs-create-titel [form]="form"></hs-create-titel>
    <hs-create-verlag [form]="form"></hs-create-verlag>
    <hs-create-rating [form]="form"></hs-create-rating>
    <hs-create-artType [form]="form"></hs-create-artType>
    <hs-create-preisrabatt [form]="form"></hs-create-preisrabatt>
    <hs-create-homepage [form]="form"></hs-create-homepage>
    <hs-create-erscheinungsdatum [form]="form"></hs-create-erscheinungsdatum>
    <hs-create-schlagwoerter [form]="form"></hs-create-schlagwoerter>
    <hs-create-lieferbar [form]="form"></hs-create-lieferbar>

    <button
      mat-raised-button
      color="accent"
      type="submit"
      (click)="onSave()"
      [disabled]="form.invalid"
    >
      <i class="material-icons">check</i>
      Jetzt anlegen
    </button>
  </form>

  <small>* sind Pflichtfelder</small>
</div>

<hs-error-message [text]="errorMsg"></hs-error-message>
