:host {
  display: flex;
  flex-direction: column;
  margin: 25px;
  background: white;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.contentWrapper {
  padding: 25px;
}

.row {
  display: flex;
}

.mat-form-field {
  max-width: 300px !important;
}

.warn {
  color: #f44336;
}

.warnRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  margin-bottom: 5px;

  span {
    background: #f443361f;
    padding: 5px;
  }

  i {
    margin-right: 10px;
  }
}
