<mat-card>
  <h1>Hallo Jürgen!</h1>
  <h3>Herzlich Willkommen zu unserer 2. Abgabe</h3>

  <div class="body">
    <div class="row">
      <i class="material-icons">school</i>Hochschule Karlsruhe - Software
      Engineering
    </div>
    <div class="row">
      <i class="material-icons">today</i>Sommersemester 2021
    </div>
    <div class="row">
      <i class="material-icons">code</i>GitHub:
      https://github.com/SoftwareEngineeringHSKA
    </div>
  </div>

  <div class="body">
    <h3>Entwickler:</h3>
    <div class="row"><i class="material-icons">person</i>Florian Göbel</div>
    <div class="row"><i class="material-icons">person</i>Taner Memili</div>
    <div class="row"><i class="material-icons">person</i>Enis Yesilbas</div>
    <div class="row"><i class="material-icons">person</i>Lisa Maus</div>
  </div>
</mat-card>
