<mat-form-field [formGroup]="form">
  <mat-label>Email</mat-label>
  <input
    matInput
    id="emailInput"
    name="email"
    formControlName="email"
    [class.is-invalid]="email.invalid && email.touched"
    [class.is-valid]="email.valid && email.touched"
  />
</mat-form-field>
<div *ngIf="email.invalid && email.touched" class="invalid-feedback">
  <mat-error *ngIf="email.errors && email.errors.required">
    Ein Email muss eingegeben werden.
  </mat-error>
  <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
    Ein Email muss im richtigen Format eingegeben werden.
  </mat-error>
</div>

<h1>{{ email.invalid }} {{ email.touched }}</h1>
